<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="new.css">
  <link rel="stylesheet" href="../static/prism.css">
  <link rel="stylesheet" href="../static/codes.css">
  <link rel="stylesheet" href="../static/codingMafia.css">
  <title> {% block title %}{% endblock title %} | CodingMafia </title>
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-md navbar-dark" style=" background-color: #000000;">
      <a class="navbar-brand " style="color: #00DD73;" href="/"><b>CodingMafia</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link {% block manu_item_home %}{% endblock %} " href="/"> Home <span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link {% block manu_item_blog %}{% endblock %}" href="/blog">Blog <span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {% block manu_item_tutorials %}{% endblock %}" href="/tutorials"
              id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Tutorials
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/html">HTML</a>
              <a class="dropdown-item" href="/css">CSS</a>
              <a class="dropdown-item" href="/js">JavaScript</a>
              <a class="dropdown-item" href="/python">Python</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link {% block manu_item_contact %}{% endblock %}" href="/contact">Contact Us <span
                class="sr-only"></span></a>
          </li>
        </ul>

        <!-- Button trigger signUp modal -->
        {% if user.is_authenticated %}
        <ul class="navbar-nav mr-4 ">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href='#' id="navbarDropdown" role="button" data-toggle="dropdown">
              Welcome {{request.user}}</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/logout">Logout</a>

            </div>
          </li>
        </ul>
      </div>
      {% else %}
      <!-- Button to  trigger Login modal -->
      <button type="button" class="btn btn-success mr-2  text-dark font-weight-bold" data-toggle="modal"
        data-target="#loginModal">
        Login
      </button>

      <button type="button" class="btn btn-success mr-2  text-dark font-weight-bold" data-toggle="modal"
        data-target="#signupModal">
        SignUp
      </button>
      {% endif %}
      </div>
    </nav>
  </header>
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  {% endif %}

  <!-- signUp Modal -->
  <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark" id="signModaltitle">Sign Up Here</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-dark">
          <form action='/signup' method='post'>
            <div class="form-group ">
              <label for="usename">Username</label>
              <input type="text" class="form-control" id="usename" name="usename"
                placeholder="choose Unique Username(lowercase & Alphanumeric)" Required>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" Required>
            </div>
            <div class="form-group">
              <label for="pass1">Password</label>
              <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Enter Your Password"
                Required>
            </div>

            <div class="form-group">
              <label for="pass2">Confirm Password</label>
              <input type="password" class="form-control" id="pass2" name="pass2"
                placeholder="Enter Your Password Again" Required>
            </div>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Submit</button>

          </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <!-- Login Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark" id="loginModalTitle">Login Here</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-dark">
          <form action="/login" method="POST"> {% csrf_token %}
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="loginusername" name="loginusername"
                placeholder="Enter your username " required>
            </div>
            <div class="form-group">
              <label for="pass">Enter your password </label>
              <input type="password" class="form-control" id="loginpassword" name="loginpassword"
                placeholder="Enter your password " required>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  {% block body %} {% endblock body %}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="../static/prism.js"></script>
  </div>
  </div>
  <!-- Footer -->
  <footer class=" text-center text-white " style="background-color: #000000;">
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 text-white">

      <a class="text-white" href="/"> © 2021 Copyright : Haresh-CodingMafia</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->


</body>

</html>