{% extends 'base.html' %}

{% block manu_item_blog %} active{% endblock %}
{% block title %}Blog{% endblock title %}

{% block body %}
<br>
<div class="container">
<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">The 5 Biggest Career Challenges Programmers Face</h1>
      <p class="lead my-3">Programming is one of the safest and most desirable career paths of the future. But, you can&rsquo;t have the good without the bad. In the tech arena, there will always&nbsp;be work-related obstacles that must be overcome</p>
      <p class="lead mb-0"><a href="/blog1" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>
  </div>

    <div class="row mb-2">
      <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-primary">Programing</strong>
            <h3 class="mb-0">
              <a class="text-dark " href="/blog2">9 New Programming Languages That You Should Knows</a>
            </h3>
            <div class="mb-1 text-muted">Jun 13</div>
            <p class="card-text mb-auto text-dark">Your knowledge, interests and career objective are the main key. There some famous languages ruling the computer industry like Python and JavaScript, which are hard to go wrong with.</p>
            <a href="blog2">Continue reading</a>
          </div>
          
        </div>
      </div>
      <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-success">Coding</strong>
            <h3 class="mb-0">
              <a class="text-dark" href="/blog3">How To Make Money  Online From Programming</a>
            </h3>
            <div class="mb-1 text-muted">Jun 14</div>
            <p class="card-text mb-auto text-dark">Do you want to make money from programming? I think Yes, right. Now a day no one want to work 9 to 5. Everyone want to become own boss and make more money.</p>
            <a href="/blog3">Continue reading</a>
          </div>
         </div>
      </div>
    </div>
{% endblock body %}
