{% extends 'base.html' %}
{% block manu_item_tutorials %} active{% endblock %}
{% block title %}CSS Tutorials{% endblock title %}

{% block body %}

<hr>
<h1 class="text-center"> CSS Tutorial </h1>
<hr>
<div class="container">

   <p><b>CSS</b> is used to control the style of a web document in a simple and easy way.</p>
   <p><b>CSS</b> is the acronym for <b>"Cascading Style Sheet"</b>. This tutorial covers both the versions CSS1,CSS2 and
      CSS3, and gives a complete understanding of CSS, starting from its basics to advanced concepts.</p>
   <h2>Why to Learn CSS?</h2>
   <p><b>Cascading Style Sheets</b>, fondly referred to as <b>CSS</b>, is a simple design language intended to simplify
      the process of making web pages presentable.</p>
   <p><b>CSS</b> is a MUST for students and working professionals to become a great Software Engineer specially when
      they are working in Web Development Domain. I will list down some of the key advantages of learning CSS:</p>
   <ul class="list">
      <li>
         <p><b>Create Stunning Web site</b> - CSS handles the look and feel part of a web page. Using CSS, you can
            control the color of the text, the style of fonts, the spacing between paragraphs, how columns are sized and
            laid out, what background images or colors are used, layout designs,variations in display for different
            devices and screen sizes as well as a variety of other effects.</p>
      </li>
      <li>
         <p><b>Become a web designer</b> - If you want to start a carrer as a professional web designer, HTML and CSS
            designing is a must skill.</p>
      </li>
      <li>
         <p><b>Control web</b> - CSS is easy to learn and understand but it provides powerful control over the
            presentation of an HTML document. Most commonly, CSS is combined with the markup languages HTML or XHTML.
         </p>
      </li>
      <li>
         <p><b>Learn other languages</b> - Once you understands the basic of HTML and CSS then other related
            technologies like javascript, php, or angular are become easier to understand.</p>
      </li>
   </ul>
   <h2>Hello World using CSS.</h2>
   <p>Just to give you a little excitement about CSS, I'm going to give you a small conventional CSS Hello World
      program, You can try it using Demo link.</p>

   <pre class="language-html language-css"><code>&lt;!DOCTYPE html&gt;
&lt;html&gt;
   &lt;head&gt;
      &lt;title&gt;This is document title&lt;/title&gt;
      &lt;style&gt;
      h1 {
         color: #36CFFF; 
      }
      &lt;/style&gt;
   &lt;/head&gt;	
   &lt;body&gt;
      &lt;h1&gt;Hello World!&lt;/h1&gt;
   &lt;/body&gt;	
&lt;/html&gt;</code>
</pre>
   <h2>Applications of CSS</h2>
   <p>As mentioned before, CSS is one of the most widely used style language over the web. I'm going to list few of them
      here:</p>
   <ul class="list">
      <li>
         <p><b>CSS saves time</b> - You can write CSS once and then reuse same sheet in multiple HTML pages. You can
            define a style for each HTML element and apply it to as many Web pages as you want.</p>
      </li>
      <li>
         <p><b>Pages load faster</b> - If you are using CSS, you do not need to write HTML tag attributes every time.
            Just write one CSS rule of a tag and apply it to all the occurrences of that tag. So less code means faster
            download times.</p>
      </li>
      <li>
         <p><b>Easy maintenance</b> - To make a global change, simply change the style, and all elements in all the web
            pages will be updated automatically.</p>
      </li>
      <li>
         <p><b>Superior styles to HTML</b> - CSS has a much wider array of attributes than HTML, so you can give a far
            better look to your HTML page in comparison to HTML attributes.</p>
      </li>
      <li>
         <p><b>Multiple Device Compatibility</b> - Style sheets allow content to be optimized for more than one type of
            device. By using the same HTML document, different versions of a website can be presented for handheld
            devices such as PDAs and cell phones or for printing.</p>
      </li>
      <li>
         <p><b>Global web standards </b>- Now HTML attributes are being deprecated and it is being recommended to use
            CSS. So its a good idea to start using CSS in all the HTML pages to make them compatible to future browsers.
         </p>
      </li>
   </ul>
   <h2>Audience</h2>
   <p>This <b>CSS tutorial</b> will help both students as well as professionals who want to make their websites or
      personal blogs more attractive.</p>
   <h2>Prerequisites</h2>
   <p>You should be familiar with:</p>
   <ul class="list">
      <li>Basic word processing using any text editor.</li>
      <li>How to create directories and files.</li>
      <li>How to navigate through different directories.</li>
      <li>Internet browsing using popular browsers like Internet Explorer or Firefox.</li>
      <li>Developing simple Web Pages using HTML or XHTML.</li>
   </ul>
   <p>If you are new to HTML and XHTML, then we would suggest you to go through our HTML Tutorial or XHTML Tutorial
      first.</p>
</div>
{% endblock body %}