{% extends 'base.html' %}
{% block manu_item_tutorials %} active{% endblock %}


{% block title %}Tutorials{% endblock title %}
{% block body %}

<hr>
<h1 class="text-center"> HTML Tutorial </h1>
<hr>
<div class="container">
   <p><b>HTML</b> stands for <b>Hyper Text Markup Language</b>, which is the most widely used language on Web to develop
      web pages. <b>HTML</b> was created by Berners-Lee in late 1991 but "HTML 2.0" was the first standard HTML
      specification which was published in 1995. HTML 4.01 was a major version of HTML and it was published in late
      1999. Though HTML 4.01 version is widely used but currently we are having HTML-5 version which is an extension to
      HTML 4.01, and this version was published in 2012.</p>
   <h2>Why to Learn HTML?</h2>
   <p>Originally, <b>HTML</b> was developed with the intent of defining the structure of documents like headings,
      paragraphs, lists, and so forth to facilitate the sharing of scientific information between researchers. Now, HTML
      is being widely used to format web pages with the help of different tags available in HTML language.</p>
   <p><b>HTML</b> is a MUST for students and working professionals to become a great Software Engineer specially when
      they are working in Web Development Domain. I will list down some of the key advantages of learning HTML:</p>
   <ul class="list">
      <li>
         <p><b>Create Web site</b> - You can create a website or customize an existing web template if you know HTML
            well.</p>
      </li>
      <li>
         <p><b>Become a web designer</b> - If you want to start a carrer as a professional web designer, HTML and CSS
            designing is a must skill.</p>
      </li>
      <li>
         <p><b>Understand web</b> - If you want to optimize your website, to boost its speed and performance, it is good
            to know HTML to yield best results.</p>
      </li>
      <li>
         <p><b>Learn other languages</b> - Once you understands the basic of HTML then other related technologies like
            javascript, php, or angular are become easier to understand.</p>
      </li>
   </ul>
   <h2>Hello World using HTML.</h2>
   <p>Just to give you a little excitement about HTML, I'm going to give you a small conventional <b>HTML Hello
         World</b> program, You can try it using Demo link.</p>
   <pre><code class="language-html">&lt;!DOCTYPE html&gt;
&lt;html&gt;
   &lt;head&gt;
      &lt;title&gt;This is document title&lt;/title&gt;
   &lt;/head&gt;	
   &lt;body&gt;
      &lt;h1&gt;This is a heading&lt;/h1&gt;
      &lt;p&gt;Hello World!&lt;/p&gt;
   &lt;/body&gt;	
&lt;/html&gt;
</code></pre>

   <h2>Applications of HTML</h2>
   <p>As mentioned before, HTML is one of the most widely used language over the web. I'm going to list few of them
      here:</p>
   <ul class="list">
      <li>
         <p><b>Web pages development</b> - HTML is used to create pages which are rendered over the web. Almost every
            page of web is having html tags in it to render its details in browser.</p>
      </li>
      <li>
         <p><b>Internet Navigation</b> - HTML provides tags which are used to navigate from one page to another and is
            heavily used in internet navigation.</p>
      </li>
      <li>
         <p><b>Responsive UI</b> - HTML pages now-a-days works well on all platform, mobile, tabs, desktop or laptops
            owing to responsive design strategy.</p>
      <li>
      <li>
         <p><b>Offline support</b> HTML pages once loaded can be made available offline on the machine without any need
            of internet.</p>
      </li>
      <li>
         <p><b>Game development</b>- HTML5 has native support for rich experience and is now useful in gaming developent
            arena as well.</p>
      </li>
   </ul>
   <h2>Audience</h2>
   <p>This <b>HTML tutorial</b> is designed for the aspiring Web Designers and Developers with a need to understand the
      HTML in enough detail along with its simple overview, and practical examples. This tutorial will give you enough
      ingredients to start with HTML from where you can take yourself at higher level of expertise.</p>
   <h2>Prerequisites</h2>
   <p>Before proceeding with this <b>tutorial</b> you should have a basic working knowledge with Windows or Linux
      operating system, additionally you must be familiar with &minus;</p>
   <ul class="list">
      <li>Experience with any text editor like notepad, notepad&plus;&plus;, or Edit plus etc.</li>
      <li>How to create directories and files on your computer.</li>
      <li>How to navigate through different directories.</li>
      <li>How to type content in a file and save them on a computer.</li>
      <li>Understanding about images in different formats like JPEG, PNG format.</li>
   </ul>
   <div class="clearer"></div>
   <p>HTML stands for <b><u>H</u></b>yper<b><u>t</u></b>ext <b><u>M</u></b>arkup <b><u>L</u></b>anguage, and it is the
      most widely used language to write Web Pages.</p>
   <ul class="list">
      <li>
         <p><b>Hypertext</b> refers to the way in which Web pages (HTML documents) are linked together. Thus, the link
            available on a webpage is called Hypertext.</p>
      </li>
      <li>
         <p>As its name suggests, HTML is a <b>Markup Language</b> which means you use HTML to simply "mark-up" a text
            document with tags that tell a Web browser how to structure it to display.</p>
      </li>
   </ul>
   <p>Originally, HTML was developed with the intent of defining the structure of documents like headings, paragraphs,
      lists, and so forth to facilitate the sharing of scientific information between researchers.</p>
   <p>Now, HTML is being widely used to format web pages with the help of different tags available in HTML language.</p>
   <h2>Basic HTML Document</h2>
   <p>In its simplest form, following is an example of an HTML document &minus;</p>
   <pre class="language-html"><code>&lt;!DOCTYPE html&gt;
&lt;html&gt;

   &lt;head&gt;
      &lt;title&gt;This is document title&lt;/title&gt;
   &lt;/head&gt;
	
   &lt;body&gt;
      &lt;h1&gt;This is a heading&lt;/h1&gt;
      &lt;p&gt;Document content goes here.....&lt;/p&gt;
   &lt;/body&gt;
	
&lt;/html&gt;
</code></pre>
   <h3> Output
   </h3>
   <div class="text-light bg-dark">
      <h1 style="color:white;">This is a heading</h1>
      <p>Document content goes here.....</p>
   </div>
   <h2>HTML Tags</h2>
   <p>As told earlier, HTML is a markup language and makes use of various tags to format the content. These tags are
      enclosed within angle braces <b>&lt;Tag Name&gt;</b>. Except few tags, most of the tags have their corresponding
      closing tags. For example, <b>&lt;html&gt;</b> has its closing tag <b>&lt;/html&gt;</b> and <b>&lt;body&gt;</b>
      tag has its closing tag <b>&lt;/body&gt;</b> tag etc.</p>
   <p>Above example of HTML document uses the following tags &minus;</p>
   <table class="table table-bordered text-white">
      <tr>
         <th style="color: #14f78b ;">Sr.No</th>
         <th style="text-align:center; color: #14f78b ;">Tag &amp; Description</th>
      </tr>
      <tr>
         <td class="ts">1</td>
         <td>
            <b>&lt;!DOCTYPE...&gt;</b>
            <p>This tag defines the document type and HTML version.</p>
         </td>
      </tr>
      <tr>
         <td class="ts">2</td>
         <td>
            <b>&lt;html&gt;</b>
            <p>This tag encloses the complete HTML document and mainly comprises of document header which is represented
               by &lt;head&gt;...&lt;/head&gt; and document body which is represented by &lt;body&gt;...&lt;/body&gt;
               tags.</p>
         </td>
      </tr>
      <tr>
         <td class="ts">3</td>
         <td>
            <b>&lt;head&gt;</b>
            <p>This tag represents the document's header which can keep other HTML tags like &lt;title&gt;, &lt;link&gt;
               etc.</p>
         </td>
      </tr>
      <tr>
         <td class="ts">4</td>
         <td>
            <b>&lt;title&gt;</b>
            <p>The &lt;title&gt; tag is used inside the &lt;head&gt; tag to mention the document title.</p>
         </td>
      </tr>
      <tr>
         <td class="ts">5</td>
         <td>
            <b>&lt;body&gt;</b>
            <p>This tag represents the document's body which keeps other HTML tags like &lt;h1&gt;, &lt;div&gt;,
               &lt;p&gt; etc.</p>
         </td>
      </tr>
      <tr>
         <td class="ts">6</td>
         <td>
            <b>&lt;h1&gt;</b>
            <p>This tag represents the heading.</p>
         </td>
      </tr>
      <tr>
         <td class="ts">7</td>
         <td>
            <b>&lt;p&gt;</b>
            <p>This tag represents a paragraph.</p>
         </td>
      </tr>
   </table>
   <p>To learn HTML, you will need to study various tags and understand how they behave, while formatting a textual
      document. Learning HTML is simple as users have to learn the usage of different tags in order to format the text
      or images to make a beautiful webpage.</p>
   <p>World Wide Web Consortium (W3C) recommends to use lowercase tags starting from HTML 4.</p>
   <h2>HTML Document Structure</h2>
   <p>A typical HTML document will have the following structure &minus;</p>
   <pre class="language-html"><code>&lt;html&gt;
   
   &lt;head&gt;
      Document header related tags
   &lt;/head&gt;
   
   &lt;body&gt;
      Document body related tags
   &lt;/body&gt;
   
&lt;/html&gt;,</code>
</pre>
   <p>We will study all the header and body tags in subsequent chapters, but for now let's see what is document
      declaration tag.</p>
   <h2>The &lt;!DOCTYPE&gt; Declaration</h2>
   <p>The &lt;!DOCTYPE&gt; declaration tag is used by the web browser to understand the version of the HTML used in the
      document. Current version of HTML is 5 and it makes use of the following declaration &minus;</p>
   <pre class="prettyprint notranslate">
&lt;!DOCTYPE html&gt;
</pre>
   <p>There are many other declaration types which can be used in HTML document depending on what version of HTML is
      being used. We will see more details on this while discussing &lt;!DOCTYPE...&gt; tag along with other HTML tags.
   </p>
</div>

{% endblock body %}