{% extends 'base.html' %}
{% block manu_item_tutorials %} active{% endblock %}
{% block title %}Python Tutorials{% endblock title %}

{% block body %}
<hr>
<h1 class="text-center">Python Tutorial </h1>
<hr>   
 <div class="container">
<p><span style="font-size:16px">Python is a simple, general-purpose interpreted, object-oriented, high-level programming language. It was created by Guido van Rossum, and released in 1991.</span></p>

<p><span style="font-size:16px">This Python tutorial is designed for beginners and professionals.</span></p>

<p><span style="font-size:16px">It&#39;s an open-source programming language that is known for its simple and easy-to-learn syntax.</span></p>

<h2><span style="font-size:26px">Why the Name Python?</span>&nbsp; &nbsp;</h2>

<p><span style="font-size:16px">There is a fact behind choosing the name&nbsp;Python.&nbsp;<strong>Guido van Rossum</strong>&nbsp;was reading the script of a popular BBC comedy series &quot;<strong>Monty Python&#39;s Flying Circus</strong>&quot;. It was the late on-air 1970s.</span></p>

<p><span style="font-size:16px">Van Rossum wanted to select a name which unique, sort, and a little bit mysterious. So he decided to select naming Python after the&nbsp;<strong>&quot;Monty Python&#39;s Flying Circus&quot;</strong>&nbsp;for their newly created programming language.</span></p>

<p><span style="font-size:16px">The comedy series was creative and well random. It talks about everything. Thus it is slow and unpredictable, which made it very interesting.</span></p>

<p><span style="font-size:16px">Python is also versatile and widely used in every technical field, such as&nbsp;Machine Learning,&nbsp;Artificial Intelligence, Web Development,&nbsp;Mobile Application, Desktop Application, Scientific Calculation, etc.</span></p>

<h2><span style="font-size:26px">Python Is used for -</span></h2>

<ul>
	<li><span style="font-size:16px">Web Applications</span></li>
	<li><span style="font-size:16px">Data Science</span></li>
	<li><span style="font-size:16px">Data Mining</span></li>
	<li><span style="font-size:16px">Desktop Applications</span></li>
	<li><span style="font-size:16px">Console-based Applications</span></li>
	<li><span style="font-size:16px">Mobile Applications</span></li>
	<li><span style="font-size:16px">Software Development</span></li>
	<li><span style="font-size:16px">Artificial Intelligence</span></li>
	<li><span style="font-size:16px">Enterprise Applications</span></li>
	<li><span style="font-size:16px">3D CAD Applications</span></li>
	<li><span style="font-size:16px">Machine Learning</span></li>
	<li><span style="font-size:16px">Computer Vision or Image Processing Applications</span></li>
	<li><span style="font-size:16px">Speech Recognition</span></li>
</ul>

<h2><span style="font-size:26px">Applications of Python -</span></h2>

<p><span style="font-size:16px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">Python provides many useful features to the programmer. Python is one of the most widely used language over the web.</span></span></span></p>

<p><span style="font-size:16px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><strong>Easy-to-learn:</strong> Python is very easy to learn and understand. When writing code in Python, you need fewer lines of code compared to languages like Java.</span></span></span></p>

<p><span style="font-size:16px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><strong>Free and open-source language:</strong> The language and its source code are available to the public for free</span></span></span></p>

<p><span style="font-size:16px"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><strong>Object-oriented language:</strong> The Python programming language supports classes and objects and hence it is object-oriented.</span></span></span></p>

<p><span style="font-size:16px"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><strong>GUI Programming:</strong> You can use it to develop a GUI (Graphical User Interface). Example: Tkinter, Kivy, PyQt</span></span></p>

<p><span style="font-size:16px"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><strong>Interpreted:</strong> It is executed line by line. This makes it easy to test and debug.</span></span></p>

<p><span style="font-size:16px"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><strong>Scalable:</strong> Python provides a better structure and support for large programs than shell scripting.</span></span></p>

<p><span style="font-size:16px"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><strong>Learn Standard Library:</strong> Python provides you with a large standard library.</span></span></p>

<h2><span style="font-size:26px">Python Version History -</span></h2>

<p><span style="font-size:16px">Python was initially created in December 1989 by a Dutch programmer, Guido van Rossum as a hobby programming project over the Christmas week. He was an employee for Stichting Mathematisch Centrum (CWI) at the time, and that&#39;s where Python was used initially. He named Python after the British sketch comedy series, Monty Python&#39;s Flying Circus.</span></p>

<p><span style="font-size:16px">The Following list of all Python Version released date :</span></p>

<hr />
<table border="1" cellpadding="10" cellspacing="10" style="width:100%">
	<thead>
		<tr>
			<th scope="col"  style=" color: #14f78b ;"><span style="font-size:16px ">Python Version</span></th>
			<th scope="col"  style=" color: #14f78b ;"><span style="font-size:16px">Released Date</span></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><span style="font-size:16px">Python 1.0</span></td>
			<td><span style="font-size:16px">January 1994</span></td>
		</tr>
		<tr>
			<td><span style="font-size:16px">Python 1.5</span></td>
			<td><span style="font-size:16px">December 31, 1997</span></td>
		</tr>
		<tr>
			<td><span style="font-size:16px">Python 1.6</span></td>
			<td><span style="font-size:16px">September 5, 2000</span></td>
		</tr>
		<tr>
			<td><span style="font-size:16px">Python 2.0</span></td>
			<td><span style="font-size:16px">October 16, 2000</span></td>
		</tr>
		<tr>
			<td><span style="font-size:16px">Python 2.1</span></td>
			<td><span style="font-size:16px">April 17, 2001</span></td>
		</tr>
		<tr>
			<td><span style="font-size:16px">Python 2.2</span></td>
			<td><span style="font-size:16px">December 21, 2001</span></td>
		</tr>
		<tr>
			<td><span style="font-size:16px">Python 2.3</span></td>
			<td><span style="font-size:16px">July 29, 2003</span></td>
		</tr>
		<tr>
			<td><span style="font-size:16px">Python 2.4</span></td>
			<td><span style="font-size:16px">November 30, 2004</span></td>
		</tr>
		<tr>
			<td><span style="font-size:16px">Python 2.5</span></td>
			<td><span style="font-size:16px">September 19, 2006</span></td>
		</tr>
		<tr>
			<td><span style="font-size:16px">Python 2.6</span></td>
			<td><span style="font-size:16px">October 1, 2008</span></td>
		</tr>
		<tr>
			<td><span style="font-size:16px">Python 2.7</span></td>
			<td><span style="font-size:16px">July 3, 2010</span></td>
		</tr>
		<tr>
			<td><span style="font-size:16px">Python 3.0</span></td>
			<td><span style="font-size:16px">December 3, 2008</span></td>
		</tr>
		<tr>
			<td><span style="font-size:16px">Python 3.1</span></td>
			<td><span style="font-size:16px">June 27, 2009</span></td>
		</tr>
		<tr>
			<td><span style="font-size:16px">Python 3.2</span></td>
			<td><span style="font-size:16px">February 20, 2011</span></td>
		</tr>
		<tr>
			<td><span style="font-size:16px">Python 3.3</span></td>
			<td><span style="font-size:16px">September 29, 2012</span></td>
		</tr>
		<tr>
			<td><span style="font-size:16px">Python 3.4</span></td>
			<td><span style="font-size:16px">March 16, 2014</span></td>
		</tr>
		<tr>
			<td><span style="font-size:16px">Python 3.5</span></td>
			<td><span style="font-size:16px">September 13, 2015</span></td>
		</tr>
		<tr>
			<td><span style="font-size:16px">Python 3.6</span></td>
			<td><span style="font-size:16px">December 23, 2016</span></td>
		</tr>
		<tr>
			<td><span style="font-size:16px">Python 3.7</span></td>
			<td><span style="font-size:16px">June 27, 2018</span></td>
		</tr>
		<tr>
			<td><span style="font-size:16px">Python 3.8</span></td>
			<td><span style="font-size:16px">October 14, 2019</span></td>
		</tr>
	</tbody>
</table>

<h2>&nbsp;</h2>

<hr />
<h2><span style="font-size:26px">Python 2 vs Python 3</span></h2>

<p><span style="font-size:16px">Python 3 is a newer version, but it is not backward compatible with Python 2.</span></p>

<p><span style="font-size:16px">That means if you write a program using Python 2, it may not work on Python 3.</span></p>

<p><span style="font-size:16px">For example, the following command works on Python 2, but it doesn&#39;t work on Python 3: print &quot;Hello World&quot;.</span></p>

<p><span style="font-size:16px">To get the previous command working on Python 3, you can write it as the following: print(&quot;Hello World&quot;).</span></p>

<p>&nbsp;</p>
</div>
{% endblock body %}

